<?php echo $header; ?>
<?php echo $navbar; ?>
    <div class="starter-template">
        <div class="container">
            <?php echo $content; ?>
        </div>
    </div><!-- /.container -->
<?php echo $footer; ?>