{% if success %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>success!</strong> {{ success }}
    </div>
{% endif %}
<div class="panel panel-default">

    <div class="panel-heading">
        <h1>Welcome to database !</h1>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>BookID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>PublisherName</th>
                    <th>CopyrightYear</th>
                </tr>
                </thead>
                <tbody>
                {% for item in examplelist %}
                    <tr>
                        <td>{{ item.BookID }}</td>
                        <td>{{ item.Title }}</td>
                        <td>{{ item.Author }}</td>
                        <td>{{ item.PublisherName }}</td>
                        <td>{{ item.CopyrightYear }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-sm-6 col-sm-offset-4">
            <fieldset>
                <form class="form-horizontal" method="post" action="index.php?road=docs/index/database">
                    <!-- Form Name -->
                    <legend>Form Name</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="title">title</label>
                        <div class="col-md-4">
                            <input id="title" name="title" type="text" placeholder="title" class="form-control input-md"
                                   required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="author">author</label>
                        <div class="col-md-4">
                            <input id="author" name="author" type="text" placeholder="author"
                                   class="form-control input-md"
                                   required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Publisher Name</label>
                        <div class="col-md-4">
                            <input id="name" name="name" type="text" placeholder="Publisher Name"
                                   class="form-control input-md"
                                   required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="copy">Copyright Year</label>
                        <div class="col-md-4">
                            <input id="copy" name="copy" type="text" placeholder="Copyright Year"
                                   class="form-control input-md"
                                   required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="author">author</label>
                        <div class="col-md-4">
                            <input id="author" name="author" type="text" placeholder="author"
                                   class="form-control input-md"
                                   required="">

                        </div>
                    </div>

            </fieldset>
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    <div class="panel-body">
        <div class="well">
            <p>The page you are looking at is being generated dynamically by syshope.</p>

            <p>If you would like to edit this page you'll find it located at:</p>
            <code>view/template/docs/database.twig</code>
            <a target="_blank" href="index.php?road=common/codemirror/template&path=template/docs/database.twig">view
                source</a>
            <p>The corresponding controller for this page is found at:</p>
            <code>controller/docs/index.php</code>
            <a target="_blank" href="index.php?road=common/codemirror/template&path=controller/docs/index.php">view
                source</a>
            <p>The model for this page is found at:</p>
            <code>model/docs/index.php</code>
            <a target="_blank" href="index.php?road=common/codemirror/template&path=model/docs/index.php">view
                source</a>
        </div>
    </div>
</div>
