<div class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>{{ lg.titel }}!</strong> {{ lg.alert }}
</div>
<div class="panel-body">
	<div class="well">
		<p>The page you are looking at is being generated dynamically by syshope.</p>

		<p>If you would like to edit this page you'll find it located at:</p>
		<code>view/template/docs/language.twig</code>
		<a target="_blank" href="index.php?road=common/codemirror/template&path=template/docs/language.twig">{{ lg.text_view_source }}</a>
		<p>The corresponding controller for this page is found at:</p>
		<code>controller/docs/index.php - function multiLanguage()</code>
		<a target="_blank" href="index.php?road=common/codemirror/template&path=controller/docs/index.php">{{ lg.text_view_source }}</a>

	</div>
</div>