<div class="panel panel-default">
    <div class="panel-heading">
        <h1>mvc architecture
        </h1>
    </div>
    <div class="panel-body">
        <div class="col-sm-12">
            <h2>Basic directory structure</h2>
            <p>SysHope is based on the Model-View-Controller development pattern.
                <span class="highlighted">MVC</span> is a software approach that separates application logic from
                presentation. In practice, it permits your web pages to contain minimal
                scripting since the presentation is separate from the PHP scripting.</p>
            <ol>
                <li>controller</li>
                <li>view</li>
                <li>language</li>
                <li>model</li>
            </ol>
            <p class="text-center"><img src="storage/image/mvc/file_struct.png" alt="mvcl" class="img-thumbnail"></p>
            <p>All modules will require at least a single file in each of the view and controller folders. Most will require a file in each of the model and language folders. Usually the files have the same name, except the view file has a different suffix (.tpl). We will go through these files one by one.</p>
            <p class="text-center"><img src="storage/image/mvc/mvcl.png" alt="mvcl" class="img-thumbnail"></p>
            <h3>Application Flow Chart</h3>
            <p>The following graphic illustrates how data flows throughout the system:</p>
            <p><img alt="SysHope application flow" src="storage/image/mvc/appflowchart.gif"></p>
            <ol class="arabic simple">
                <li>The index.php serves as the front controller, initializing the base
                    resources needed to run SysHope.</li>
                <li>The Router examines the HTTP request to determine what should be done
                    with it.</li>
                <li>If a cache file exists, it is sent directly to the browser, bypassing
                    the normal system execution.</li>
                <li>Security. Before the application controller is loaded, the HTTP
                    request and any user submitted data is filtered for security.</li>
                <li>The Controller loads the model, core libraries, helpers, and any
                    other resources needed to process the specific request.</li>
                <li>The finalized View is rendered then sent to the web browser to be
                    seen. If caching is enabled, the view is cached first so that on
                    subsequent requests it can be served.</li>
            </ol>
            <h3>Controller</h3>
            <p>The controller file is the place where you can load the language files to convert text into variables to be utilized in the template file. In the diagram above, you can see the $_['text'] variable being handled by the controller, then sent as $text to the view. You will also utilize multiple model files and their class functions here, including your module's model file if it has one. For more information on loading files see <a href="developer/loading/">Loading files in the controller</a>.</p>
            <h4>Accessed via URL</h4>
            <p>The controller is the only file in the MVC-L framework to be accessed by URL in SysHope. In the administration, the URL will look like /admin/index.php?route=module/my_module&amp;token. The admin adds a token to the URL, whereas the link in the catalog will not have it. As a result, the controller file will have a function defined as public function index(). This is a publicly accessible 'page' that is loaded by the URL, which will be shown when the Edit button is clicked, and where the view form will submit to. The submitted data will be processed in this function and saved to the `settings` database table through the controller's config object.</p>
            <h3>View</h3>
            <p>The second required file for your module's admin interface is the view file. This will be created in the admin/view/template/module folder, and will have the suffix .tpl. This is standard for SysHope view files. In this file you will create a form for the user to fill out and submit. It will be submitted to the module controller's index function. The easiest way to create your view file is to copy and paste an existing, similar view file, and edit the form to contain the correct fields for your module's configuration options. You may call your view file my_module.tpl.</p>
            <p>In the view, you will be able to access the text from the language that the controller file stored as a PHP variable. See Loading Files in the Controller for the code on how to do so.</p>
            <h3>Model</h3>
            <p>It is uncommon for modules to require a model file on the admin side. However, if your module relies on its own database table, or a custom query to create data of a particular format, then you may find yourself writing a model file. An example of this may be if you are writing a visitor counter module, where each visitor is stored in a database table with their IP address and number of visits. You may then create a model file, with a function to define and create this extra table in the SysHope database. The model file will live in the admin/model/module folder. You may call your model file my_module.php, the same as your controller and language files.</p>
            <h2>Frontend module functionality</h2>
            <p>The frontend of your module follows the same pattern as the admin interface just described. What you will include in each of your frontend files will largely depend on what your module is supposed to do. A module can access any model files that already exist in SysHope, you do not need to write your own database queries if the same query already exists. For example, the catalog/product model contains many useful queries for fetching products. Using these model functions should be preferred over reinventing the wheel.</p>
            <p>A key difference in the frontend of your module, is that your view file will be in the appFolder/view/layouts/(themename)/template/module folder. This is a significantly deeper folder structure to the admin view file because of themes.</p>
            <p>On the frontend part of your module you will have access to the configuration options saved by your module, through both the controller's config object, and the $settings variable passed to the module controller's index function. You can control aspects of the frontend display on the basis of these settings.</p>
        </div>
    </div>
</div>
